*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Livvic', sans-serif;
}

/*Menu Styles Start*/

.menu-bar{
    background-color: aquamarine;
    text-align: right;
    
    
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    margin-right: 10%;
   
    
}

.menu-bar ul li{
    width: 80px;
    margin: 10px;
    padding: 10px;
    
}

.menu-bar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: #6e5494;
}


/*Menu Styles End*/